@addTagHelper  *,Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/content/site.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <nav class="navbar fixed-top">
        <div class="container">
            <div >
                <ul class="nav navbar-expand navbar-nav" >
                    <li><a asp-controller="Home" asp-action="Index" class="navbar-brand">Cookie Store</a> </li>
                    <li><a asp-controller="Feedback" asp-action="Index" class="navbar-brand" >Feedback</a> </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        <div class="row">
            @RenderBody()
        </div>
    </div>
</body>
</html>
